body {
    background: url("../images/train_bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
}

@font-face {
  font-family: NSSANBOL;
  src: url("../fonts/NSSANBOL.TTF") format("opentype");
}

.logo-top {
    position: fixed;
    top: 0;
    right: 0;
}

.logo-image {
    width: 140px;
}

.sidebar {
    background: #ffcc18 url("../images/ns_background.png") repeat center;
    position: fixed;
    width: 30%;
    height: 90%;
    left: 0;
    bottom: 0;
    border-radius: 4px;

    .sidebar-header {
        width: 100%;
        margin-top: -10px;
    }

    .recently-liked {
        margin-left: 10px;
        height: 320px;
         span {
            font-family: NSSANBOL;
            font-size: 32px;
            color: #000066;
            height: 1px;
             border-bottom: solid 1px #000066;
             padding: 0 190px 5px 10px;
        }
    }

    .recently-posted {
        margin: 20px 0 0 10px;
        height: 320px;
        span {
            font-family: NSSANBOL;
            font-size: 32px;
            color: #000066;
            height: 1px;
            border-bottom: solid 1px #000066;
            padding: 0 310px 5px 10px;
        }
    }

    .tilted-container {
        background: url('../images/Blue_Slope.png') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 290px;
        position: absolute;
        width: 100%;
        bottom: -66px;
        left: 0px;

        .tilted-container-text {
            -ms-transform: rotate(-6deg);
            -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
            width: 310px;
            margin: 70px auto;

            .t-container-text  {
                color: white;
                font-size: 32px;
                line-height: 58px;
                font-family: NSSANBOL;
                //margin: 40px auto 0 50px;
                width: 80%;
            }
        }
    }
}

#provinces {
    width: 54%;
    margin-top: 120px;
    margin-left: 35%;
    height: 800px;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);

    .province-title {
        font-family: NSSANBOL;
        font-size: 36.5px;
        font-weight: bold;
        letter-spacing: 4.2px;
        text-align: left;
        color: #ffffff;
        padding: 20px 0 0 30px;
    }

    #province {
        width: 753px;
        margin: 180px auto;
    }
}

